<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn" id="save_goal">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>